:root {
  --primary: #d00063;
  --text-color: #333;
  --border-color: #ccc;
  --typeface-mono: 'Roboto Mono', Menlo, Monaco, monospace;
  --typeface-sans: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

body {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--typeface-sans);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

a {
  color: var(--primary);
}

a:focus,
a:hover {
  background: var(--primary);
  color: white;
  text-decoration: none;
}

button {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

button.button--primary {
  background: var(--primary);
  border: none;
  color: white;
}

button.button--emoji {
  background: none;
  border: none;
  font-size: 1.5em;
  padding: 0.5rem;
}
